<section class="container">

	<header class="section-header">
		<h1 class="section-header__hdg">
			{{ 'customer.reset_password.title' | t }}
		</h1>
		<p>
			{{ 'customer.reset_password.subtext' | t: email: email }}
		</p>
	</header>

	{% form 'reset_customer_password', class: 'ac-form-col' %}

		{{ form.errors | default_errors }}

		<ul class="form-list">
			<li class="form-item">
				<div class="input-placeholder">
					<label for="resetPassword">
						{{ 'customer.reset_password.password' | t }}
					</label>
					<input id="resetPassword" class="input{% if form.errors contains 'password' %} has-error{% endif %}" type="password" name="customer[password]">
				</div>
			</li>
			<li class="form-item">
				<div class="input-placeholder">
					<label for="resetPasswordConfirmation">
						{{ 'customer.reset_password.password_confirm' | t }}
					</label>
					<input id="resetPasswordConfirmation" class="input{% if form.errors contains 'password_confirmation' %} has-error{% endif %}" type="password" name="customer[password_confirmation]">
				</div>
			</li>
			<li class="form-item ac-form-action">
				<button class="btn btn--full" type="submit">
					{{ 'customer.reset_password.submit' | t }}
				</button>
			</li>
		</ul>

	{% endform %}

</section>