<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	{% comment %}Meta Data{% endcomment %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>
		Petite 'n Pretty: Coming Soon!
	</title>

	{% comment %}Social Meta{% endcomment %}
	{% include 'social-meta-tags' %}

	{% comment %}Favicons{% endcomment %}
	{% include 'favicons' %}

	{% comment %}Helpers{% endcomment %}
	<link rel="canonical" href="{{ canonical_url }}">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

	{% comment %}CSS{% endcomment %}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	{{ 'password.scss.css' | asset_url | stylesheet_tag }}

	{% comment %}Header Js{% endcomment %}
	{% include 'googletagmanager-head' %}

	{{ content_for_header }}
</head>
<body id="page-password" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
	{{ content_for_layout }}
</body>
</html>