{% layout 'password' %}
<div id="pwd" class="pwd">
	<section class="pwd-sign-up">
		<div class="pwd-sign-up__logo"><img src="{{ 'logo.png' | asset_url }}" alt="Petite & Pretty" /></div>
		<div class="pwd-sign-up__header">
			<img src="{{ 'coming-soon.svg' | asset_url }}" alt="Coming Soon" class="coming-soon" />
			<img src="{{ 'sparkle.svg' | asset_url }}" alt="Something to Sparkle About" class="sparkle" />
		</div>
		<div class="pwd-sign-up__newsletter-form">
			<div id="formHeader" class="pwd-sign-up__label">
				<i>FOMO MUCH?</i> Sign Up To Stay Tuned.
			</div>
          	<div id="formSuccess" class="pwd-sign-up__label" style="display:none;">
				Thanks for signing up!
			</div>
			<form id="newsletterSignUp" class="pwd-sign-up__form" method="GET" data-ajax-submit="https://klaviyo.sdg.la/v1/add/lexjc9">
				<div class="pwd-sign-up__email-input">
					<div class="input-placeholder pwd-sign-up__input-placeholder">
						<input id="email" name="email" type="email" class="input" placeholder="your email" />
					</div>
					<div class="pwd-sign-up__btn">
						<button class="pwd-sign-up__subscribe-btn" type="submit" >Subscribe</button>
					</div>
				</div>
			</form>
			<div id="messages" class="messages" style="display:none;">
				<div id="messageSuccess" class="message message--success" style="display:none;">

				</div>
				<div id="messageError" class="message message--error" style="display:none;">
					Please enter a valid email address!
				</div>
			</div>
		</div>
	</section>
	<section class="pwd__container">
		<div class="pwd__form">
			{% form 'storefront_password' %}
			{{ form.errors | default_errors }}
				<div class="form-inline">
					<input type="password" name="password" id="password" class="input" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" autofocus>
					<button type="submit" class="form-inline__btn">
						<span class="screenreader">
							{{ 'general.password_page.login_form_submit' | t }}
						</span>
						<i class="icon-arrow"></i>
					</button>
				</div>
			{% endform %}
		</div>
		<button type="button" class="pwd__btn" id="pwdBtn"></button>
	</section>
</div>

{{ 'password.min.js' | asset_url | | script_tag }}